name: directus_api_manager
description: Communicate with a Directus server using its REST API.
version: 1.12.0
repository: https://github.com/maxbritto/directus_api_manager

environment:
     sdk: ^3.5.3

dependencies:
     http: ">=0.13.4 <2.0.0"
     http_parser: ^4.0.2
     reflectable: ^4.0.5
     web_socket_channel: ^3.0.2
     extension_dart_tools: ^1.3.0
     meta: ">=1.15.0"
     mutex: ^3.1.0

dev_dependencies:
     build_runner: any
     lints: ^4.0.0
     test: ^1.24.0

targets:
     $default:
          builders:
               reflectable:
                    generate_for:
                         - example/directus_api_manager_example.dart
                    options:
                         formatted: true
